<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Lable type:</strong>
  <%= @menu.lable_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu.restaurant.name %>
</p>

<p>
  <strong>Image:</strong>
  <%=image_tag @menu.photo, size: "300x200", class: "img-thumbnail" %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
