<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-5">

      <div class="form-group">
        <%= f.label :main_item_id %>
        <%= f.select("main_item_id", MainItem.all.collect {|p| [ "#{p.name} -- #{p.menu.name} - { #{p.menu.rest.name} }", p.id ] }, { include_blank: false }, {class: "form-control"})%>
      </div>
      
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control', :step => 0.01%>
      </div>

      <div class="form-group">
        <%= f.label :is_available %>
        <%= f.check_box :is_available %>
      </div>
<!-- 
      <div class="form-group">
        <%#= f.label :photo %>
       <%#= f.file_field :photo %>
      </div>
 -->


      <div class="actions">
        <%= f.submit :class => 'btn btn-success' %>
      </div>
    </div>
  </div>

<% end %>
